<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input id="username" type="text" class="input-block-level" placeholder="Email address">
    <input id="password" type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <input type="button" data-name="login" class="btn btn-large btn-primary" value="Sign In"/>
    <input type="button" data-name="sign-up" class="btn btn-large btn-primary" value="Sign Up"/>
  </form>

</div>